 <div class="row">
    <form class="col s12" novalidate #regForm="ngForm">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Nombre" id="first_name" type="text" class="validate">
        </div>
        <div class="input-field col s6">
          <input placeholder="Apellidos" id="last_name" type="text" class="validate">
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Correo electrónico" id="email" type="email" class="validate">
        </div>
        <div class="input-field col s6">
          <input placeholder="Teléfono" id="phone" type="tel" class="validate">
        </div>
      </div>

      <div class="row">
        <div class="input-field col s4">
          <input placeholder="Fecha Nacimiento" id="dob" type="tel" class="validate">
        </div>
        <div class="input-field col s4">
          <span>Género: </span>
          <input name="gender" type="radio" id="masc" /> <label for="test1">Masculino</label>
          <input name="gender" type="radio" id="fem" /> <label for="test2">Femenino</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Línea 1 dirección" id="address_1" type="text" class="validate">
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Línea 2 dirección" id="address_2" type="text" class="validate">
        </div>
      </div>

      <div class="row">
        <div class="input-field col s5">
          <input placeholder="Ciudad" id="city" type="text" class="validate">
        </div>
        <div class="input-field col s5">
          <input placeholder="Provincia/Región" id="province" type="text" class="validate">
        </div>
        <div class="input-field col s2">
          <input placeholder="C.P." id="zip" type="number" class="validate">
        </div>
      </div>

    </form>
  </div>